
 
 #product-overview {
     background: url('freedom.jpg');
     width: 100%;
     height: 528px;
     padding: 10px;
    
 
 }
 
 #product-overview h1{
     color: white;
     font-family: "Anton", sans-serif;
 }
 
 .section-title{
     color:green;
     font-family: inherit;
     text-align: center;
 }
 
 /* h1{
     color: white;
     font-family: "Anton", sans-serif;} */
 
 h1{
     font-family: Arial, Helvetica, sans-serif;
 }

.plan{
    background: #d5ffdc;
    width: 30%;
    padding: 30px;
    margin: 20px 0px;
    display: inline-block;
    margin: 8px;
    text-align: center;
    vertical-align: middle;
}
.plan--higlighted{
    background: #118630;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.5);
   color: white;
}
/* below css style is used for the main heading styling ...... */
.plan--recommended{
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
}
.plan__features{
    padding: 0;
    margin: 0;
    list-style: none;
}
.plan__features li{
    margin: 8px 0px;
}
.plan__title
{
 color: #0e4f1f;
}
.plan__price{
    color: #858585;

}
.plan--higlighted .plan__title{
    color: white;
    
}

.plan--higlighted .plan__price{
    color: #0e4f1f;
    
}
.button{
    background:  #0e4f1f;
    color: white;
    padding: 8px;
    border: 1px solid  #094f1f;
    border-radius: 8px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active{
    color: #0e4f1f;
    background: white;
}


/* now the features start from here */

#key-features{
    background-color: #ff1b68;
    margin-top: 80px;
    padding: 16px;
    
}
#key-features .section-title{
    color: white;
    margin: 28px;

}
.key-feature_list{
    list-style: none;
    border: 1px solid wheat;
   
}
.key-feature__element{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    
}
.key-feature__image{
    background-color: #ffcdde;
    width: 128px;
    border: 2px solid black;
    border-radius: 50%;
    height: 128px;
    margin: auto;
}
.key-feature__description{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

