main{
    padding-top: 32px;
}
.package{
    border: 4px solid black;
    width: 80%;
    margin: 16px 0px;
    border-left: none;

}
.package a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 22px;
}